<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   DemoData.plist
   SwiftApp

   Created by Dylan Bui on 9/19/17.
   Copyright (c) 2017 Propzy Viet Nam. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
